
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ca6a7616-0acb-4bc5-be25-c4deef0419a7/c5af601a-6657-4531-8f82-22e629a3795e/IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.50;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans',sans-serif;
    text-align: center;
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 23px;

}

.hero> :first-child {
    font-weight: 1000;
    font-size: 48px;
    text-align: center;

}


.hero>  :nth-child() {
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}


.hero>  :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}
.separation {
    height: 10px;
    background-color: rgb(53, 53, 53);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    background-color: rgba(36, 36, 36, 0.821);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 7px;
}

.hero-button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px
}

.main input {
    padding: 7px 101px 8px 14px;
    color:white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
   background-color:  rgba(23, 23, 23, 0.7);
   border: 1px solid rgba(23, 23, 23, 0.5);
}

.btn-red-sn {
    background-color: red;
    color: white;

}

.first {
    display: flex;
    justify-content: center;
    height: 600px;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width:555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 85px;
    right: 0;
}

section.third img {
    
    width:555px;
    position: relative;
    z-index: 10;
}

section.third video {
    
    position: absolute;
    top: 45px;
    right: 0;
}

section.first > div {
    display: flex;
    flex-direction: column;
}

section.first > div :first-child {
    font-family: 'Martel Sans',sans-serif;
    font-size: 40px;
    font-weight: bolder;

}

section.first > div :nth-child(2) {
    font-family: 'Martel Sans',sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

section.second > div {
    display: flex;
    flex-direction: column;
}

section.second > div :first-child {
    font-family: 'Martel Sans',sans-serif;
    font-size: 40px;
    font-weight: bolder;

}

section.second > div :nth-child(2) {
    font-family: 'Martel Sans',sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-family: 'Martel Sans',sans-serif;

}

.faq {
    background: black;
    color: white;
   
    padding: 34px;
}

.faqbox:hover {
    background-color: grey;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transform: all 1s ease-out;
    display: flex;
    font-size: 24px;
    background-color: rgb(58, 58, 58);
    justify-content: space-between;
    padding: 34px;
    max-width: 48vw;
    cursor: pointer;
    margin: 34px auto;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;

}

footer .questions {
    padding: 34px 0;;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    padding: 34px;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
